.footer-container{

    .footer-left{

        .we-accept{
            font-weight: bold;

            .payment-icon{
                width: auto;
                height: 10%;
            }
        }
    }
}